.sidebar {
  background-color: var(--color-primary);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $breakpoint-medium) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    align-items: center;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 3em;

  position: fixed;
  margin-top: 8em;

  list-style: none;

  & li {
    border-bottom: 1px solid currentColor;
    font-family: var(--font-display);

    @media only screen and (max-width: $breakpoint-medium) {
      border-bottom: none;
    }
  }

  @media only screen and (max-width: $breakpoint-medium) {
    flex-direction: row;
    gap: 8em;

    position: unset;
    margin: 0;
  }

  @media only screen and (max-width: $breakpoint-tiny) {
    gap: 5em;
  }

  @media only screen and (max-width: $breakpoint-tiny) {
    gap: 3em;
  }

  @media only screen and (max-width: $breakpoint-micro) {
    gap: 1em;
  }
}
