.sidebar {
  background-color: var(--color-primary);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $breakpoint-medium) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    align-items: center;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1em;

  position: fixed;
  margin-block: 2em;

  list-style: none;

  @media only screen and (max-width: $breakpoint-medium) {
    flex-direction: row;
    gap: 4em;
  }

  @media only screen and (max-width: $breakpoint-tiny) {
    gap: 3em;
  }

  @media only screen and (max-width: $breakpoint-micro) {
    gap: 1.5em;
  }
}
